{{>headerAdmin}}
<div class="col-md-9 grid-margin" style="margin: auto;">
    <div class="card">
        <div class="card-body">
            <h1 style="text-align: center; font-family: 'Lobster', cursive;">Update {{product.product_name}}</h1>

            {{!-- Show error message --}}
            {{#if message}}
            <div class="form-group">
                <h5 style="width: 100%;background-color:#e45052;color:#fff;border-radius: 0.25rem; height:auto; padding: 10px; font-weight: 50px"
                    id="message">
                    <i class="fa-solid fa-triangle-exclamation fa-lg"></i> {{message}}
                </h5>
            </div>
            {{/if}}

            <form class="forms-sample" enctype="multipart/form-data" method="post">
                <div class="form-group">
                    <label for="name">Product Name</label>
                    <input type="text" class="form-control" id="product_name" name="product_name"
                        placeholder="Enter product name" value="{{product.product_name}}" oninput="removeMessage()">
                </div>

                <div class="form-group">
                    <label for="name">Category</label>
                    <select name="category" id="category" class="form-control">
                        {{#each categories}}
                        <option value="{{this._id}}" id="{{this._id}}">{{this.category_name}}</option>
                        {{/each}}
                    </select>
                </div>

                <div class="form-group">
                    <label for="des">Description</label>
                    <input type="text" class="form-control" id="description" name="description"
                        placeholder="Enter description" value="{{product.description}}" oninput="removeMessage()">
                </div>

                <div class="form-group">
                    <label for="price">Price</label>
                    <input type="number" class="form-control" id="price" name="price" placeholder="Enter price"
                        value="{{product.price}}" oninput="removeMessage()">
                </div>

                {{!-- Image upload and preview --}}
                <div class="form-group">
                    <label for="image">Upload image</label>
                    <div class="input-group col-xs-12">
                        <input type="file" name="image" id="image" class="default" onchange="loadFile(event)">
                    </div>
                    <br>
                    <h4>Image preview here</h4>
                    <img id="output" src="img/products/{{product.image}}" width="100%">
                    <br>
                    <script>
                        //JS to preview image when uploaded 
                        var loadFile = function (event) {
                            var output = document.getElementById('output');
                            output.src = URL.createObjectURL(event.target.files[0]);
                            output.onload = function () {
                                URL.revokeObjectURL(output.src) //Free memory
                            }
                        };
                    </script>
                </div>


                <input type="hidden" name="counter" id="counter" value="1">
                <input type="hidden" name="_id" id="_id" value="{{product._id}}">

                <script> let count = 1; </script>
                {{#each product.configurations}}

                    <script>
                        var help = '<hr style="height: 2px;color:gray;background-color:gray;border-width:0;"><div class="form-group"><label for="color">Color' + count + '</label><input type="text" class="form-control" name="color' + count + '" placeholder="Enter color' + count + '" value="{{this.color}}"></div><div class="form-group"><label for="stock">Stock ' + count + '</label><input type="number" class="form-control" name="stock' + count + '" placeholder="Enter stock' + count + '" value="{{this.stock}}"></div>'
                        document.getElementById("_id").parent().append(help);
                        document.getElementById('counter').setAttribute('value', count);
                        count++;
                    </script>

                {{!-- <hr style="height: 2px;color:gray;background-color:gray;border-width:0;">
                <div class="form-group">
                    <label for="color">Color
                        <script type="text/javascript">//document.write(count)</script>
                    </label>
                    <input type="text" class="form-control"
                        name="color"
                        placeholder="Enter color <script type='text/javascript'>document.write(count)</script>"
                        value="{{this.color}}">
                </div>

                <div class="form-group">
                    <label for="stock">Stock
                        <script type="text/javascript">//document.write(count)</script>
                    </label>
                    <input type="number" class="form-control"
                        name="stock"
                        placeholder="Enter stock <script type='text/javascript'>document.write(count)</script>"
                        value="{{this.stock}}">
                </div> --}}
                <script>
                    //document.getElementById('counter').setAttribute('value', count);
                    //count++;
                </script>
                {{/each}}

                {{!-- Add more color button --}}
                <div class="form-group">
                    <button type="button" class="addColor file-upload-browse btn btn-info" id="addColor"
                        style="padding:12px 10px">
                        <i class="fa-solid fa-circle-plus"></i> Add more color
                    </button>
                </div>

                <div>
                    <button type="submit" class="btn btn-success mr-2" style="padding:12px 10px"><i
                            class="fa-solid fa-circle-check"></i> Submit</button>
                    <a href="/viewProducts" class="btn btn-danger mr-2" style="padding:12px 10px"
                        onclick="return confirm('Cancel updating this toy?')"><i class="fa-solid fa-circle-xmark"></i>
                        Cancel</button></a>
                </div>
            </form>
        </div>
    </div>
</div>

{{!-- Click to add more color --}}
<script>
    $(document).on('click', '.addColor', function () {
        if (count <= 5) {
            var html = '<hr style="height: 2px;color:gray;background-color:gray;border-width:0;">'
                + '<div class="form-group"><label for="color">Color ' + count + '</label><input type="text" class="form-control" name="color' + count + '" placeholder="Enter color">'
                + '</div><div class="form-group"><label for="stock">Stock ' + count + '</label><input type="number" class="form-control" name="stock' + count + '" placeholder="Enter stock">'
                + '</div><div class="form-group"><button type="button" class="addColor file-upload-browse btn btn-info" id="addColor" style="padding:12px 10px">'
                + '<i class="fa-solid fa-circle-plus"></i> Add more color</button></div>';
            var element = document.getElementById("addColor");
            $(this).parent().append(html);
            element.remove();
            document.getElementById("counter").setAttribute('value', count);
            count++;
        } else {
            document.getElementById("addColor").disabled = true;
            $(this).parent().append("<h4 style='color:red;'><i class='fa-solid fa-triangle-exclamation'></i> You can only insert 5 colors</h4>");
        }
    });

    function removeMessage() {
        document.getElementById('message').remove();
    }

    document.getElementById("{{product.category}}").setAttribute('selected', 'selected');
</script>